.center{
  text-align: center;
}

.pading{
  padding: 0 80px 0 80px;
}

.bg-image {
  background-image: url('components/images/backroungimage.jpeg'); /* specifică calea către imaginea de fundal */
  background-size: cover; /* asigură acoperirea completă a containerului cu imaginea */
  background-position: center; /* poziționează imaginea în centrul containerului */
  height: 100vh;
}
.navbar a{
  text-decoration: none;
  color: #454545;
  font-size: large;
}
.navbar a:hover{
  color: black;
}
.map{
  margin: 0;
  border: 0;
  padding: 0;
}

.footer{
  background-color: #454545;
  color: white;
}

.subcol{
  
  display:flex;
  justify-content: center;
}

